<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <!-- Package visibility for Android 11+ to detect installed apps -->
    <queries>
        <!-- Deezer app -->
        <package android:name="deezer.android.app" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="deezer" />
        </intent>
    </queries>

    <application
        android:name="com.hitit.app.DukeStarApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DukeStar"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HitIt">
        <activity
            android:name="com.hitit.app.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HitIt">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
